@import url(../colors/colors.scss);

/* Styles généraux du corps de la page */
body {
    margin: 0 auto;
    font-family: "Manrope";
    width: 85%;
    max-width: 1440px;
    background-color: $color-background; // Utilise la couleur de fond définie dans color.scss
  }