#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    padding-left: 0.5rem;
}


.hidden {
    display: none;
}
  

.visible{
    display: flex;
}
 